torchvision
torchinfo
torcheval
opencv-python
mujoco==3.2.0
dm_control>=1.0.18        # WICHTIG: Aktualisiert, damit es mit mujoco 3.2.0 läuft
gymnasium
shimmy==2.0.0
imageio
imageio-ffmpeg
Pillow
pyrallis==0.3.1
h5py==3.10.0
datasets
tqdm
stable_baselines3==2.4.0  # WICHTIG: Muss zur contrib-Version passen
sb3-contrib==2.4.0
vector-quantize-pytorch==1.22.16
wandb==0.19.9